.NavLink {
    position: relative;
}

.NavLink a {
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    transition: all 150ms ease-in-out;

    span {
        margin-left: 18px;
    }
}

.NavLink-active a {
    font-weight: bold;
}

.NavLink-line {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0;
}