.Settings {
    user-select: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-left: 1px solid;
    overflow-x: hidden;
    transition: 0.5s;
}

.Settings-section {
    display: flex;
    align-items: center;
    position: relative;
    padding: 20px 0;
}

.Settings-title {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    flex: 1;
}

.Settings-close {
    position: absolute;
    left: 24px;
}