/*
.react-toast-notifications__toast__content {
    border: 1px solid;
    border-color: inherit;
    border-left: 0;
    border-right: 0;;
}

.react-toast-notifications__toast__dismiss-button {
    border: 1px solid;
    border-color: inherit;
    border-left: 0;
}
*/