.HomeSearch-root {
    transition: all 0.2s;
    display: flex;
    width: 100%;
    margin: auto;
}

.HomeSearch-query {
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 1.1em;
}

.HomeSearch-query {
    outline-width: 0;
}

.HomeSearch-search-button {
    border: none;
    cursor: pointer;
    padding: 0 16px;
    transition: all 0.15s;
}

.HomeSearch-search-button:focus {
    outline-width: 0;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder { 
    color: inherit;
}