@import 'components/BaseLayout/layout';

.Sidebar {
    min-width: $sidebar-width;
    user-select: none;
}

.Sidebar-header {
    height: $header-height;
    display: flex;
}

.Sidebar-nav {
    margin-top: 20px;
}