$sidebar-width: 200px;
$header-height: 100px;

.NavLink-link
{
    text-decoration: none;
    display: flex;
    align-items: center;

    color: white;
}

.Sidebar {
    min-width: $sidebar-width;

    background-color: #292b2f;
}

.Sidebar-header {
    height: $header-height;
    display: flex;
    margin-bottom: 15px;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.Sidebar-logo {
    font-weight: bold;
    margin: auto auto;
}

.Sidebar-link a {
    font-size: 12px;
    padding: 8px 0;
    padding-left: 20px;
    color: #9c9c9c;

    span {
        margin-left: 6px;
    }

    &:hover {
        color: white;
    }
}