.Scale-root {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;

    @media (min-width: 800px) {
        justify-content: flex-start;
    }
}

.Scale-radio {
    margin: 0 10px;
}