@import 'components/Layout/layout';

.Header {
    display: flex;
    justify-content: flex-end;
    height: $header-height;
}

.Header-section {
    padding: 0 20px;
    display: flex;
    align-items: center;

    .IconButton {
        margin-left: 20px;
    }
}

.Header-separator {
    margin: auto 0;
    width: 0.5px;
    height: 80%;
    border-radius: 50%;
}

.Profile {
    display: flex;
    cursor: pointer;
}

.Avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid;
}

.Header-icon {
    cursor: pointer;
    font-size: 18px;
}

.User {
    font-size: 12px;
}

.User-type {
    font-size: 0.8em;
    margin-top: 2px;
}