.BaseLayout {
    min-height: 100vh;
    display: flex;
}

.BaseLayout-main {
    display: flex;
    flex-direction: column;
    flex: 1;

    * {
        color: white;
    }
}

.BaseLayout-content {
    padding: 20px;
    flex: 1;
}