@media (min-width: 800px) {
    .Register-root {
        display: flex;
        min-height: 100%;
    }

    .Register-form {
        width: 320px;
        margin: auto;
        padding-bottom: 100px;
    }
}