@import "styles/util.scss";

@media (min-width: 800px) {
    .Register-root {
        display: flex;

        form {
            width: 320px;
            margin: auto;
        }
    }
}

.Register-button {
    padding: 10px 0;
}

.Register-error {
    margin: em(6) 0;
}