.CreateReview-container {
    margin: auto;
    flex: 1;
}

.CreateReview-category {

    &:last-child {
        margin-bottom: 0;
    }
}

.CreateReview-category-title {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.CreateReview-question {

    &:last-child {
        margin-bottom: 0;
    }
}

.CreateReview-question-scale {
    margin: 18px 0 30px 0;
}

.CreateReview-question-header {
    display: flex;
    align-items: center;
}

.CreateReview-separator {
    height: 1px;
    width: 100%;
    background: transparent;
    border-top: 1px solid;
    margin: auto;
    margin-bottom: 40px;
    
}

.CreateReview-category:last-child {
    .CreateReview-separator {
        display: none;
    }
}

.CreateReview-question-number,
.CreateReview-question-text {
    font-size: 1.3em;
}

.CreateReview-question-number {
    font-size: 1.4em;
    margin-right: 20px;
}

.CreateReview-question-text {
    margin: 0;
}

.CreateReview-actions {
    position: fixed;
    bottom: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    z-index: 9995;
}

.CreateReview-action {
    margin-left: 8px;
}