@import 'components/BaseLayout/layout';

.Header {
    display: flex;
    justify-content: flex-end;
    height: $header-height;
}

.Header-section {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.Profile {
    display: flex;
    border-left: 1px solid;
    cursor: pointer;
}

.Avatar {
    height: 35px;
    width: 35px;
    background: white;
    border-radius: 50%;
    margin-right: 10px;
}

.Header-settings-button {
    cursor: pointer;
    font-size: 18px;
}

.User {
    font-size: 12px;
}

.User-type {
    font-size: 0.8em;
    margin-top: 2px;
}