.Header-container {
    display: flex;
    justify-content: flex-end;
    height: 100px;
    background-color: #2f3136;
    margin: 0 auto;
    padding-right: 50px;
    color: white;
}

.Settings, .Profile {
    margin: auto 0 auto 0;
    font-weight: bold;
}

.Settings {
    margin-right: 40px;
}

.Profile-pic {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 100px;
    margin: auto 10px auto 0;
}