@import "styles/util.scss";

$label-top: -20px;

.TextField-root {
    position: relative;
    margin-top: 1em + em(10);
    z-index: 0;
}

.TextField-label,
.TextField-input {
    font-size: 1.2em;
}

.TextField-label {
    cursor: text;
    z-index: -1;
    user-select: none;
    transition: 0.2s;
    position: absolute;
    font-size: 1em;
    top: $label-top;
    left: 0;
}

.TextField-input {
    background: none;
    outline: 0;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    padding-bottom: 3px;
    transition: 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown {
        ~ .TextField-label {
            top: 0;
            font-size: 1.2em;
        }
    }
}

.TextField-input:focus {
    ~ .TextField-label {
        top: $label-top;
        font-size: 1em;
    }
}

.TextField-input:disabled {
    cursor: not-allowed;
}

.TextField-input:required {
    box-shadow: none;
}

.TextField-optional {
    font-size: 0.65em;
    margin-left: 2px;
    font-style: oblique;
}