.Header-User-root {
    display: flex;
    align-items: center;
    position: relative;
}

.Header-User-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
}

.Header-User-data { 
    display: none;
}

.Header-User-type {
    font-size: 0.8em;
    margin-top: 2px;
}

.Header-User-not-logged-in {
    button:last-child {
        margin-left: 5px;
    }
}

.Header-User {
    &-avatar,
    &-username,
    &-type {
        cursor: pointer;
    }
}

@media (min-width: 800px) {
    .Header-User-avatar {
        margin-right: 10px;
    }

    .Header-User-data {
        display: block;
    }
}