@import "styles/util.scss";

@media (min-width: 800px) {
    .Login-root {
        display: flex;

        form {
            width: 320px;
            margin: auto;
        }
    }
}

.Login-button {
    padding: 10px 0;
}

.Login-error {
    margin: em(8) 0;
}